body {
    direction: rtl;
    font-family: 'Varela Round';
    color: #22315C;
    overflow-x:hidden;
}
#cornerBtnOdot {
    width: 100px;
    left: 30px;
    top: 20px;
    z-index: 20;
    background-color: white;
    color: #1B2953;
    border-color: #1B2953;
}
#cornerBtnOdot:hover {
    background-color: #1B2953;
    color: white;
}
#cornerBtnArshama {
    width: 100px;
    left: 160px;
    top: 20px;
    z-index: 20;
    background-color: #1B2953;
    color: white;
    border-color: #1B2953;
}
    #cornerBtnArshama:hover {
        background-color: white;
        color: #1B2953;
    }
    #logo {
        top: 40px;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        z-index: 20;
        width: 50px;
        height: 50px;
    }
#gradient {
    right: 0;
    z-index: 15;
    width:100vw;
    height:25vh;
}
#fold{
    height:100vh;
    position:absolute;
    z-index:100;
}
#general {
    /*margin-top: 50vh;*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#roshMobile{
    padding-top:80%;
}
#roshDesktop{
    display:block;
}
    
    #nisayon a {
        font-size: 14pt;
    }
#glasses {
    display:none;
}
#buildRobot {
    padding: 0;
    margin: 0;
    margin-right: 15px;
    max-width: 93vw;
}
#graph, #numbers #beforeGame {
    margin-top: 150px;
}
    #imgGraph {
    max-width: 90vw;
}
.meyda {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: middle;
    /*display: flex;*/
    max-width: 100vw;
    overflow: hidden;
}
    .meyda .tohen {
        max-width: 100vw;
        margin-right:50px;
        position: relative;
    }  
h2 {
    margin-bottom:20px;
    color: #E769A4;
}
.kaftor {
    color: #222F5C;
    width:250px;
    background-color: #BBC8EC;
    border: 2px solid #BBC8EC;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    margin: 2px 2px;
    transition: 0.5s;
}
    .kaftor:hover, .kaftor:active {
        background-color: white;
        color: #383E57;
    }
#ghost {
    width: 250px;
    color: #C4CFEB;
    background-color: transparent;
    border: 2px solid #BBC8EC;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    margin: 2px 2px;
    transition: 0.5s;
}
    #ghost:hover, #ghost:active {
        color: #7B88B4;
    }
#down {
    width:40px;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 5;
    animation: mymove 1s;
    animation-iteration-count:infinite;
}
video {
    position: fixed;
    right: -150%;
    bottom: 0;
    min-width: 100%;
    min-height: 126%;
    z-index: -10;
}
#pina{
    z-index:20;
}
#gameTXT {
    z-index: 10;
    position: absolute;
    margin-top: -220px;
}
.itsTime {
    width: 250px;
    margin-right: 25%;
    margin-bottom:0;
    font-size: 15pt;
    color: white;
}
.expand {
    width: 199px;
    margin-right: 35%;
    color: white;
}
#karuselaMobile {
    display: block;
}

#karuselaDesktop {
    display: none;
}
.carousel-item img {
    height:250px;
    width:70vw;
    padding:15px;

}
.carousel-item {
text-align:center;
}
.carousel-caption {
    vertical-align:middle;
    color: #22315C;
    text-align: right;
    padding-right: 10%;
}
q {
    font-size: 12pt;
    font-style: italic;
}
.carousel-indicators .active {
    background-color: #F8519B;
}
.carousel-indicators{
    z-index:10;
    bottom:-15px;
}


.carousel-indicators > li {
    background-color: white;
    border: 2px solid #F8519B;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}



#playGame {
    padding-top: 100%;
}
#viaMobile {
    display: inline-block;
}
#sovev{
    width:250px;
    margin:0 auto;
}
#gameBTN {
    margin-right: 25%;
    color: #D86393;
    font-size: 16pt;
}
#landscape {
    width: 60px;
    display: inline;
}
#IMGforMobile {
    margin: 0 auto;
    z-index: 1;
    margin-top: -100px;
}
    #IMGforMobile img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }
    #IMGforDesktop {
        margin: 0 auto;
        width: 600px;
        display: none;
    }
#pinkRobot img {
    width: 100px;
}
#pinkRobot{
    padding-left:30px;
    float: left;
    margin-top: -5%;
}
    footer {
        margin-bottom: 15px;
        font-size: 12px;
    }
footer img{
    width:20px;
}
.row{
    margin-right:5px;
    margin-left:0;
}
#reka1, #reka2, #reka3 {
    /*position: relative;
    z-index: -2;*/
    display:none;
}
#reka1 {
    left: -100px;
    width: 200px;
}
#reka2 {
    left: -100px;
    margin-top: -50px;
    width: 150px;
}
#reka3 {
    left: -150px;
    margin-top: -350px;
    width: 150px;
}
.modal-dialog {
    max-width: 960px !important;
}
.modal-body{
    text-align:right !important;
}
.show{
    padding:0 !important;
}
.modal-open{
    padding:0 !important;
}
.modal h1 {
    font-size: x-large;
    font-weight:bold;
    margin-top: 30px;
    color: #E769A4;
}
.modal p {
    font-size: 12pt;
    width: 90%;
    margin:15px auto;
}
.us {
    margin-top: 25%;
    width: 70%;
}

/*ספירת מספרים*/
.myDiv {
    margin: auto -10px;
}
.precent, .myDiv {
    width: 1em;
    height: 1em;
    overflow: hidden;
    line-height: 1em;
    display: inline-block;
    font-size: 30pt;
    color: #E65998;
}
.ahuzim{
    margin:40px auto;
}
span {
    position: relative;
}
.animate1 {
    -webkit-animation: spinit 0.5s 5;
    -moz-animation: spinit 0.5s 5;
    animation: spinit 0.5s 5;
}
.animate2 {
    -webkit-animation: spinit 0.4s 5;
    -moz-animation: spinit 0.4s 5;
    animation: spinit 0.4s 5;
}
.animate3 {
    -webkit-animation: spinit 0.3s 5;
    -moz-animation: spinit 0.3s 5;
    animation: spinit 0.3s 5;
}
.animate4 {
    -webkit-animation: spinit 0.2s 5;
    -moz-animation: spinit 0.2s 5;
    animation: spinit 0.2s 5;
}
@-webkit-keyframes spinit {
    0% {
        top: 0em;
    }
    50% {
        top: -5em;
    }
    100% {
        top: -9em;
    }
}
@-moz-keyframes spinit {
    0% {
        top: 0em;
    }
    50% {
        top: -5em;
    }
    100% {
        top: -9em;
    }
}
@keyframes spinit {
    0% {
        top: 0em;
    }
    50% {
        top: -5em;
    }
    100% {
        top: -9em;
    }
}
/* Setting the required value to top will make the spinner end at that number */
.digit3 {
    top: -2em;
    /* -2em means 3 will be the number */
}
.digit8 {
    top: -7em;
}
.digit9 {
    top: -8em;
}
.digit6 {
    top: -5em;
}

@keyframes mymove {
    from {
        bottom: 30px;
    }
    to {
        bottom: 20px;
    }
}

@media (min-width: 590px) {
    #logo{
        left:50%;
    }
    video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height:100%;
        z-index: -10;
    }
    #roshDesktop {
        padding-top: 25%;
        /*display:flex;*/
    }
    #rohav {
        width: 100%;
    }
    #roshMobile {
        display: none;
    }
        #nisayon {
            margin-top: -140px;
        }
        #nisayon a {
            font-size: 16pt;
        }

    #buildRobot{

        padding:0;
        margin:0;
        padding-right:60px;
        
    }

    .meyda {
        padding-top: 10%;
        padding-right: 60px;
    }
    #graph{
        margin:0 auto;
    }
    #imgGraph {
        width: 50%;
    }
    h2{
        font-size:30pt;
    }
    p {
        font-size: 14pt;
    }
    #general {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }
    #robotHeadImg{
        width: 55%;
    }
    #glasses {
        display: block;
        margin: 5% 5%;
    }
    #graph, #numbers {
        margin-top: 0;
    }
    .mapDivForDesign{
width: 100% !important;
    }
    .itsTime {
        width: 450px;
        margin-right: 3%;
        font-size: 22pt;
        color: white;
        margin-bottom:40px;
    }
    .expand {
        width: 280px;
        margin-right: 20%;
        color: white;
        margin-bottom: 40px;
    }
    #demo {
        margin-top: -10%;
    }
    #karuselaMobile{
        display:none;
    }
    #karuselaDesktop {
        display: block;
        margin-bottom:40vh;
    }
    .carousel-item {
        width: 100vw;
        text-align: right;
    }
    .carousel-item img {
        width: 20vw;
        height: 40vh;
    }

    .carousel-caption {
        vertical-align: middle;
        color: #22315C;
        text-align: right;
        padding-right: 10%;
    }

    q {
        padding:0;
        font-size: 16pt;
        font-style: italic;
    }

    .carousel-indicators .active {
        background-color: #F8519B;
    }

    .carousel-indicators {
        z-index: 10;
        bottom: -15px;
    }

    .carousel-indicators > li {
        background-color: white;
        border: 2px solid #F8519B;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

    #IMGforDesktop{

        position:relative;
        margin:0 auto;
        display:block;
    }
    #IMGforDesktop{
        z-index:1;
        margin-top:-400px;
    }
    #pinkRobot {
        width: 300px;
        margin-top: -30px;
        padding-left: 150px;
    }
        #pinkRobot img {
            width: 150px;
        }
    #gameTXT {
        z-index: 10;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        margin-top: -150px;
        padding-left:40px;
    }
    #gameBTN {
        width: 300px;
        margin-right: 0;
        color: #D86393;
        font-size:16pt;
    }
    #playGame{
        padding-top:300px;
    }
    #reka1, #reka2, #reka3 {
        position: absolute;
        z-index: -2;
        display:block;
    }
    #reka1 {
        left: -100px;
        margin-top: -200px;
        width: 400px;
    }
    #reka2 {
        left: -100px;
        margin-top: -50px;
        width: 350px;
    }
    #reka3 {
        left: -150px;
        margin-top: -350px;
        width: 350px;
    }
    

        #IMGforMobile, .color, #viaMobile, #landscape, #yellow, #pinkCircle, #blueRight, #blueLeft, #orangeMap, #orange, #bubble {
            display: none;
        }
}





#warning-message {
    display: none;
}

@media only screen and (orientation:portrait) {
    #wrapper {
        display: none;
    }
    #warning-message {
        display: block;
    }
}

@media only screen and (orientation:landscape) {
    #warning-message {
        display: none;
    }
}
